!!!(lang="ja")

= partial 'layouts/aa'

%html(prefix="og: http://ogp.me/ns#")

  -# head
  %head
    %meta(charset="UTF-8")
    %title #{data.page.title}
    %meta(name="description" content="#{data.page.description}")
    %meta(name="viewport" content="width=device-width, maximum-scale=1.0")

    -# OGP
    %meta(property="fb:admins" content="100001275466582")
    %meta(property="og:type" content="website")
    %meta(property="og:title" content="#{data.page.title}")
    %meta(property="og:locale" content="ja_JP")
    %meta(property="og:description" content="#{data.page.description}")
    %meta(property="og:site_name" content="#{data.page.title}")
    %meta(property="og:url" content="http://ryonakae.github.io/lovelivelog/")
    %meta(property="og:image" content="http://ryonakae.github.io/lovelivelog/images/ogp.jpg")

    -# Twitter Meta
    %meta(name="twitter:card" value="summary_large_image")
    %meta(name="twitter:title" value="#{data.page.title}")
    %meta(name="twitter:description" value="#{data.page.description}")
    %meta(name="twitter:creator" value="@ryo_dg")
    %meta(name="twitter:image" value="http://ryonakae.github.io/lovelivelog/images/ogp.jpg")
    %meta(name="twitter:url" value="http://ryonakae.github.io/lovelivelog/")

    = favicon_tag "images/favicon.ico"
    = stylesheet_link_tag "style"
    %link(rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png")

    -# Java Script
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.9/jquery.transit.min.js")
    %script(src="//ryo-lovelive.tumblr.com/api/read/json?num=50&amp;type=photo")
    = javascript_include_tag "tumblr_background_imager"
    = javascript_include_tag "lovelivelog"


    /[if lt IE 9]
      %script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")
      %script(src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js")
      %script(src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js")


  -# body
  %body
    -# main
    %div#main
      -# overlay
      %div#overlay

      -# stripe reference: https://twitter.com/kisalantis/status/81511663802662912
      %div.stripe
        %div.honoka
        %div.eri
        %div.kotori
        %div.umi
        %div.rin
        %div.maki
        %div.nozomi
        %div.hanayo
        %div.niko

      %h1#site-logo<
        %img(src="" alt="LoveLive!")

      -# text
      %p.txt My Personal LoveLive! Log

      -# arrow
      #gobottom<
        %img(src="images/gobottom.svg" alt="")

    -# navigation
    %header#header(role="banner")
      %div#toggle
        %i.icon.icon-menu
      %nav#nav(role="navigation")
        %ul.inner
          %li<
            %a(href="#music") music
          %li<
            %a(href="#video") video
          %li<
            %a(href="#book") book
          %li<
            %a(href="#figure") figure
          %li<
            %a(href="#other") other

    -# content
    %div#content
      %div.inner
        = yield

    -# footer
    %footer#footer(role="contentinfo")
      %div#backtop
        %img(src="images/kotori-taso.png" alt="" width="100" height="100")

      %div.inner
        %p.copyright
          %small © #{Time.now.year} #{data.page.title}

        %ul.share
          %li.button.share-fb
            %div.fb-like(data-send="false" data-layout="button_count" data-width="100" data-show-faces="false")
          %li.button.share-tw
            %a(href="https://twitter.com/share" class="twitter-share-button" data-lang="ja") ツイート

      %div.stripe
        %div.honoka
        %div.eri
        %div.kotori
        %div.umi
        %div.rin
        %div.maki
        %div.nozomi
        %div.hanayo
        %div.niko


    -# script
    %div#fb-root
    :javascript
      // Facebook Like Button
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Twitter Tweet Button
      !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){
          js=d.createElement(s);
          js.id=id;
          js.src=p+'://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js,fjs);
        }
      }
      (document, 'script', 'twitter-wjs');